* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(200, 200, 200);
}

body {
    background-color: #141b29;
}

#carsol {
    padding-top: 80px;
    overflow: hidden;
}

#carsol_div {
    height: 420px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

#carsol_details {
    width: 40%;
    background-color: #030b17;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
}

.carsol_details_name {
    font-size: 2rem;
    color: rgb(226, 226, 226);
    margin-top: 30px;
}

.carsol_details_titles {
    margin-top: 20px;
    display: flex;
    color: rgb(210, 210, 210);
    width: 40%;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

.carsol_details_about {
    color: rgb(200, 200, 200);
    line-height: 28px;
}

#carsol_middle {
    width: 200px;
    position: absolute;
    height: 100%;
    left: 35%;
    background: linear-gradient(90deg, rgba(3, 11, 23, 1) 34%, rgba(3, 11, 23, 0.6563667703409488) 66%, rgba(3, 11, 23, 0.08493819891237742) 90%);
}

#carsol_image {
    width: 70%;
}

img {
    height: 100%;
    width: 100%;
}

#cards_div {
    width: 95%;
    margin: 60px auto;
    height: auto;
    color: rgb(220, 220, 220);
}

.movie_cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 330px;
    gap: 20px;
    cursor: pointer;
}

.movie_cards>div {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_movie_img {
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}

.cards_movie_img>img:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.cards_movie_img>img {
    transition-duration: 0.2s;
    width: 100%;
}

.movie_name {
    font-weight: 600;
}

#loder_div {
    position: relative;
}

#loder {
    height: 200px;
    width: 400px;
    position: absolute;
    left: 40%;
    top: 60px;
}

.sort_div {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sort_div>button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}

.sort_div>button:hover {
    border: 1px solid white;
    border-radius: 12px;
}

#suggesions_div {
    position: absolute;
    width: 320px;
    height: 500px;
    top: 60px;
    right: 100px;
    background-color: #030b17;
    display: none;
    color: white;
}

#suggesions_div>div {
    height: 80px;
    width: 92%;
    margin: 10px auto;
    background-color: #141b29;
    display: flex;
    justify-content: space-between;
}

#suggesions_div>div>div {
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#suggesions_div>div>div:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#suggesions_img {
    width: 80%;
}

#load_more {
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    background-color: #141b29;
    width: 90%;
    margin: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    position: fixed;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.582);
    width: 100%;
    display: none;
    z-index: 1000;
}

.modal_details {
    position: relative;
    width: 75%;
    height: 75%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141b29;
}

.modal_details>div {
    background-color: #0d131d;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#movie_dtl_all {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    overflow: hidden;
    overflow-y: auto;
}

.movie_dtls {
    display: flex;
    width: fit-content;
    justify-content: space-between;
}

.movie_dtls>li {
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 30px;
}

.movie_name_dir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie_name_dir>h3 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#movie_about {
    width: 90%;
    text-align: center;
    line-height: 30px;
    margin: 0px auto;
}

.movie_rating {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0px auto;
}

.movie_actors {
    font-weight: 600;
}

#movie_img {
    width: 50%;
}

#movie_img>img {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .movie_cards {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 330px;
        gap: 20px;
        cursor: pointer;
    }
    .sort_div {
        width: 80vw;
    }
}

@media only screen and (max-width: 680px) {
    .movie_cards {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 330px;
        gap: 20px;
        cursor: pointer;
    }
    .sort_div {
        width: 100vw;
    }
    .sort_div>h2 {
        font-size: 20px;
    }
    #carsol_div {
        display: flex;
        height: fit-content;
        flex-direction: column-reverse;
    }
    #carsol_middle {
        display: none;
    }
    #carsol_image {
        width: 100%;
    }
    #carsol_details {
        width: 100%;
    }
    .modal_details>div {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
    }
    #movie_img {
        width: 100%;
    }
    #movie_dtl_all {
        width: 100%;
        height: fit-content;
        overflow: scroll;
    }
    .movie_name_dir {
        width: 100%;
        overflow: auto;
        display: flex;
        padding: 10px 0px;
    }
    .modal_details {
        height: fit-content;
        overflow: scroll;
        padding: 30px 0px;
        display: flex;
    }
    #modal {
        overflow: scroll;
    }
}

@media only screen and (max-width: 500px) {
    .movie_cards {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 330px;
        gap: 20px;
        cursor: pointer;
    }
    .sort_div>h2 {
        font-size: 14px;
    }
    .sort_div>button {
        font-size: 14px;
    }
}